.JForm__buttonstyle {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    white-space: nowrap;
}

.JForm__menustyle {
    height: min-content;
    font-weight: 700;
    font-size: 20px;
    padding: 5px 15px;
    border-radius: 18px;
    transition: background-color 0.2s ease, max-height 0.5s ease;
    cursor: pointer;
    overflow: hidden;
    user-select: none;
    position: absolute;
    border: none;
    appearance: none;

}

.JForm__DropDownArrow-mobile {
    height: 15px;
    position: absolute;
    right: 10px;
    top: 9px;
    transition: transform 500ms ease;
    pointer-events: none;
}

.JForm__DropDownArrow-desktop {
    height: 15px;
    display: flex;
    justify-self: left;
    justify-content: right;
    margin-left: auto;
}

.JForm-mobile {
    display: none;
}
.JForm-desktop {
    display: block;
}

/* Looks really weird on IOS*/
@media screen and (max-width: 600px) {
    .JForm__menustyle {
        position: relative;
        width: 200px;
    }
    .JForm-mobile {
        display: block;
    }
    .JForm-desktop {
        display: none;
    }
}