@import url('./App_Mobile.css') screen and (max-width: 600px);

.app {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    min-height: 100vh;
    padding: 20px;
    overflow: auto;

    /* --background: #2c3f43;
    --background2: #6b969e;
    --background3: #a2bec3;
    --text: #faecac;
    --accent1: #87c6bb;
    --accent1hover: #dcefec;
    --accent2: #e16853;
    --accent2hover: #f4c6be; */

    --background: #ffd670;
    --background2: #fffd98;
    --background3: #ffffcc;
    --text: #e07046;
    --accent1: #ff70a6;
    --accent1hover: #ff98cd;
    --accent2: #5286d9;
    --accent2hover: #7aaeff;

    background-color: var(--background);
    color: var(--text);
}


/*   ScaleMenu   */


.scale-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    gap: 20px;
    flex-wrap: wrap;
    background-color: var(--background2);
    padding: 30px;
    border-radius: 15px;
    user-select: none;
}
    .scale-menu__row {
        display: flex;
        gap: 20px;
        font-size: 25px;
    }
        .scale-menu__row__JCheckboxContainer {
            margin: 4px;
        }

        .scale-menu__row__JSelectContainer-scale {
            width: 70px;
            height: fit-content;
        }

        .scale-menu__row__JSelectContainer-mode {
            width: 180px; 
            margin-left: 20px;
        }


            
/*   ScaleInfo   */

.scale-info__scale {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    gap: 5px;
    margin-top: 30px;
}
    .scale-info__scale__item {
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        font-weight: 700;
        background-color: var(--background2);
        color: var(--text);
    }
    .scale-info__scale__item:hover {
        cursor: pointer
    }

.scale-info__chord__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 700;
    width: 100%;
    border-radius: 20px;
    background-color: var(--background2);
    max-width: 500px;
    padding: 10px 20px;
    user-select: none;
}
.scale-info__chord__container > hr {
    background-color: var(--background);
    height: 3px;
    width: 100%;
    margin: 1px;
    border: 1px solid var(--background);
    box-shadow: none;
}

    .scale-info__chord {
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        gap: 10px;
        width: 100%;
        overflow: auto;
        font-size: 26px;
    }
        .scale-info__chord__item {
            flex-shrink: 0;
            padding: 5px;
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--accent2);
            border-radius: 50%;
            cursor: pointer;
        }
            .scale-info__chord__item-7-included {
                color: var(--accent1);
            }
            .scale-info__chord__item-7-unincluded {
                color: var(--background);
            }
            .scale-info__chord__item-highlighted {
                background: var(--background3);
                box-shadow: inset 0px 0px 0px 3px var(--background);
            }
            .scale-info__chord__item:hover {
                background: var(--background3);
            }


        .scale-info__chord__numeral {
            flex-shrink: 0;
            width: 50px;
        }
        .scale-info__chord__label {
            width: 200px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: "-";
            min-width: 60px;
        }

        /* To prevent overflow from looking weird on really small screens*/
        @media screen and (max-width: 400px) {
            .scale-info__chord__label {
                display: none;
            }
            .scale-info__chord {
                justify-content: center;
            }
            .scale-info__chord__item, 
            .scale-info__chord__numeral {
                flex-shrink: 1;
            }
        }

.scale-info__guitar-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: 700;
    width: fit-content;
    border-radius: 20px;
    background-color: var(--background2);
    padding: 10px 20px;
}
.fretboard {
    margin-top: 20px;
    user-select: none;
}
.string {
    display: flex;
}

.fretcontainer {
    width: 70px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    border: solid 2px var(--text);
}

.fretcontainer:first-child {
    border-left: solid 4px var(--text);
    border: solid 2px var(--background2);
}

.fretcontainer:last-child {
    border-right: solid 4px var(--text);
}


.fret {
    transform: translateY(-20px);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    border: solid 3px var(--text);
}

.fretcontainer:nth-child(2){
    border-left: solid 4px var(--text);
}

.string:first-child > .fretcontainer:first-child {
    border-top: solid 5px var(--background2);
}

.string:first-child > .fretcontainer {
    border-top: solid 4px var(--text);
}

.string:last-child > * {
    border: none;
    border-top: solid 2px var(--text);
}
.string:last-child > .fretcontainer:first-child {
    border-top: solid 2px var(--background2);
}