@import url('./App_Mobile.css') screen and (max-width: 600px);

.app {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    min-height: 100vh;
    padding: 20px;
    overflow: auto;
    background-color: #FFD670;
}


/*   ScaleMenu   */

.scale-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    gap: 20px;
    flex-wrap: wrap;

}
    .scale-menu__row {
        display: flex;
        gap: 20px;
        font-size: 25px;
    }
        .scale-menu__row__JCheckboxContainer {
            margin: 4px;
        }

        .scale-menu__row__JSelectContainer-scale {
            width: 70px;
            height: fit-content;
        }

        .scale-menu__row__JSelectContainer-mode {
            width: 180px; 
            margin-left: 20px;
        }

        .scale-info__scale {
            display: flex;
            flex-direction: row;
            font-size: 30px;
            gap: 5px;
            margin-top: 30px;
        }
            .scale-info__scale__item {
                width: 50px;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 5px;
                font-weight: 700;
            }

            
/*   ScaleInfo   */

.scale-info__chord__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-size: 30px;
    font-weight: 700;
    width: 100%
}
    .scale-info__chord {
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        gap: 10px;
        padding: 10px;
        max-width: 500px;
        width: 100%;
        overflow: auto;
        border-radius: 20px;
    }
        .scale-info__chord__item {
            flex-shrink: 0;
            padding: 5px;
            width: 40px;
            text-align: center;
        }
        .scale-info__chord__numeral {
            flex-shrink: 0;
            width: 50px;
        }
        .scale-info__chord__label {
            width: 200px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: "-";
            min-width: 60px;
        }

        /* To prevent overflow from looking weird on really small screens*/
        @media screen and (max-width: 400px) {
            .scale-info__chord__label {
                display: none;
            }
            .scale-info__chord {
                justify-content: center;
            }
            .scale-info__chord__item, 
            .scale-info__chord__numeral {
                flex-shrink: 1;
            }
        }