* {

    /*  Get rid of all default padding and margins  */
    margin: 0;
    padding: 0;

    /*  Global color scheme variables  */
    --color-background: #2c3f43;
    --color-text: #faecac;
    --color-accent1: #87c6bb;
    --color-accent1-lighter: #badbd6;
    --color-accent2: #e16853;

    font-family: 'Inter';
}

.App {
    color: var(--color-text);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
}

.scale-menu,
.issharp-menu {
    display: flex;
    gap: 20px;
    font-size: 25px;
}

.issharp-and-scale-menus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px
}

.issharp-menu__checkbox-container {
    margin: 4px
}